/* SVN 299 */
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\000035}}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\000036}}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\000037}}
audio:not([controls]) {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\000038}}
[hidden] {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000310}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000311}}
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000312}}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000317}}
a {
  color: #00e; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000318}}
a:visited {
  color: #551a8b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000319}}
a:hover {
  color: #06e; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000320}}
a:focus {
  outline: thin dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000321}}
a:hover, a:active {
  outline: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000323}}
abbr[title] {
  border-bottom: 1px dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000324}}
b, strong {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000325}}
blockquote {
  margin: 1em 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000326}}
dfn {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000327}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999999;
  margin: 1em 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000328}}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000329}}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000330}}
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000331}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000332}}
q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000333}}
q:before, q:after {
  content: "";
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000334}}
small {
  font-size: 85%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000336}}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000337}}
sup {
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000338}}
sub {
  bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000340}}
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000341}}
dd {
  margin: 0 0 0 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000342}}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000344}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000346}}
svg:not(:root) {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000348}}
figure {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000350}}
form {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000351}}
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000352}}
label {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000353}}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000354}}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000355}}
button, input {
  line-height: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000356}}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000357}}
button[disabled], input[disabled] {
  cursor: default; }

/*input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000359}}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  margin: 13px 5px 13px 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000360}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000361}}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000362}}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000363}}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000365}}
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000367}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000368}}
td {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_reset\.scss}line{font-family:\0000370}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
/* Vars */
/* Vars (End) */
/* ALL */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000327}}
body {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
  font-size: 12pt;
  /* 	padding-bottom: 315px; */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000336}}
html, body {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000341}}
address {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000343}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans",sans-serif;
  font-weight: normal;
  margin: 7px 0 20px 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000349}}
h3 {
  font-family: "Droid Sans",sans-serif;
  font-weight: normal;
  margin: 7px 0 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000355}}
a, a:hover, a:visited {
  color: #666666;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000360}}
body {
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: url("../img/header-index-header-bg.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000366}}
header {
  height: 206px;
  background-image: url("../img/header-bg2.png");
  background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000371}}
nav {
  top: 145px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000373}}
  nav a {
    padding: 0 0 21px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000374}}
  nav a:hover {
    background-image: url("../img/header-nav-a-2.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000375}}
  nav .selected {
    background-image: url("../img/header-nav-a-2.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000380}}
noscript p {
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 25px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\0000390}}
.gridselector {
  top: 30px; }

/*
.edition-tools {
	margin: 0;
	padding: 0;
	top: 15px;
	.button-magneticlink {
		background-image: url('../img/edition-window-magneticlink.png');
		background-repeat: no-repeat;
		background-position: center center;
		padding: 26px 0 0 26px;
	}
	.button-magneticlink:hover { background-image: url('../img/edition-window-magneticlink-hover.png'); }
	.button-magneticlink:active { background-image: url('../img/edition-window-magneticlink-active.png'); }
	.button-newwindow {
		background-image: url('../img/edition-window-new-window.png');
		background-repeat: no-repeat;
		background-position: center center;
		padding: 26px 0 0 26px;
		margin: 0 0 0 50px;
	}
	.button-newwindow:hover { background-image: url('../img/edition-window-new-window-hover.png'); }
	.button-newwindow:active { background-image: url('../img/edition-window-new-window-active.png'); }
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003117}}
.header-small {
  /*.gridselector { top: 90px; } */
  /* .edition-tools { top: 80px; } */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003118}}
  .header-small body {
    background-image: url("../img/header-edition-bg.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003119}}
  .header-small header {
    background-image: url("../img/header-edition-header-bg.png");
    height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003123}}
  .header-small nav {
    top: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003125}}
    .header-small nav a {
      padding: 0 0 7px 0;
      font-size: 12pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003129}}
    .header-small nav a:hover {
      background-image: url("../img/header-nav-a-2-small.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003130}}
    .header-small nav .selected {
      background-image: url("../img/header-nav-a-2-small.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003136}}
header {
  margin: 0 auto 30px auto;
  width: 1000px;
  background-position: bottom left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003140}}
  header nav {
    width: 700px;
    position: relative;
    left: 250px;
    font-family: "Droid Serif", serif;
    font-size: 16pt;
    color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003147}}
    header nav li {
      width: 100px;
      display: inline;
      margin: 0 0 0 75px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003152}}
    header nav a {
      background-repeat: no-repeat;
      background-position: center bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003156}}
    header nav a:hover {
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003157}}
    header nav a:visited {
      color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003160}}
  header .header-button {
    background-repeat: no-repeat;
    padding: 0 25px 25px 0;
    margin: 0 10px 0 0;
    width: 25px;
    position: relative;
    top: -32px;
    left: 950px; }

/* SPECIAL */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003176}}
.content {
  background-color: #eeeeee;
  color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003183}}
.index table thead th {
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003184}}
.index table tfoot th {
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003187}}
.index .content .img {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px #999999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003192}}
.index .content .wrap {
  margin: 0 auto;
  padding: 0 0 10px 60px;
  width: 940px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003197}}
.index .content h2 {
  font-size: 25pt;
  margin: 0;
  padding: 15px 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003202}}
.index .content h3 {
  font-size: 16pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003203}}
.index .content p {
  padding: 0 0 10px 0;
  margin: 0;
  line-height: 20pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003209}}
.index .content .textimg div:nth-child(2) {
  width: 440px;
  float: left;
  display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003214}}
.index .content .textimg div:nth-child(3) {
  width: 500px;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003218}}
.index .content .textimg h3 {
  font-size: 16pt;
  margin: 0 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003221}}
  .index .content .textimg h3 .default {
    padding: 0 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003223}}
.index .content .textimg p {
  padding: 0 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003225}}
.index .content .handwriting h3 {
  border-bottom: 1px solid #999999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003233}}
footer {
  /*
  	position:absolute;
  	bottom:0;
  	width:100%;
  */
  background-color: #666666;
  background-image: url("../img/footer-border-top.png");
  background-repeat: repeat-x;
  color: white;
  height: 315px;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003245}}
  footer a, footer a:hover, footer a:visited {
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003248}}
  footer .wrap {
    width: 1000px;
    margin: 0 auto;
    font-size: 10pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003252}}
    footer .wrap div:first-child {
      width: 245px;
      background-image: url("../img/footer-bg1.png");
      float: left;
      display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003258}}
    footer .wrap div:nth-child(2) {
      width: 430px;
      float: left;
      display: inline;
      box-shadow: inset 0 0 1px 0 #666666;
      margin: 89px 0 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003264}}
      footer .wrap div:nth-child(2) li {
        padding: 0 0 8px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003265}}
      footer .wrap div:nth-child(2) ul:first-child {
        width: 150px;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003270}}
    footer .wrap div:nth-child(3) {
      width: 285px;
      margin: 89px 0 0 0;
      /*background-image: url('/img/footer-bg3.png');*/
      background-color: #969696;
      padding: 0 20px 20px 20px;
      border-radius: 0 8px 0 0;
      float: left;
      display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003279}}
      footer .wrap div:nth-child(3) li {
        padding: 0 0 8px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003282}}
  footer .logos {
    /*float: left;*/
    list-style-type: none;
    text-align: left;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003287}}
    footer .logos li {
      display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003294}}
.button-alpha {
  background-image: url("../img/content-button-down.png");
  background-repeat: no-repeat;
  padding: 0 25px 25px 30px;
  margin: 0 10px 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003301}}
.header-button-close {
  background-image: url("../img/header-button-close.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003302}}
.header-button-close:hover {
  background-image: url("../img/header-button-close-hover.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003303}}
.header-button-open {
  background-image: url("../img/header-button-open.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003304}}
.header-button-open:hover {
  background-image: url("../img/header-button-open-hover.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003306}}
.footer-col-bg-gradient {
  background: #b0b0b0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwYjBiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjBiMGIwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4OTg5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ODk4OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b0b0b0 0%, #b0b0b0 0%, #989898 100%, #989898 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0b0b0), color-stop(0%, #b0b0b0), color-stop(100%, #989898), color-stop(100%, #989898));
  background: -webkit-linear-gradient(top, #b0b0b0 0%, #b0b0b0 0%, #989898 100%, #989898 100%);
  background: -o-linear-gradient(top, #b0b0b0 0%, #b0b0b0 0%, #989898 100%, #989898 100%);
  background: -ms-linear-gradient(top, #b0b0b0 0%, #b0b0b0 0%, #989898 100%, #989898 100%);
  background: linear-gradient(top, #b0b0b0 0%, #b0b0b0 0%, #989898 100%, #989898 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b0b0', endColorstr='#989898',GradientType=0 ); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003318}}
.content-img-style1 {
  background-color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003319}}
.content-img-style2 {
  background-color: #e6e0d1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003320}}
.content-img-style3 {
  background-color: #cccccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003323}}
.font-italic {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003324}}
.font-bold {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003331}}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTable,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  margin: 3px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003334}}
.dataTables_wrapper .dataTables_info {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003337}}
.dataTables_wrapper .dataTables_paginate {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003339}}
  .dataTables_wrapper .dataTables_paginate a {
    margin: 0 0 0 10px;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003344}}
.dataTables_wrapper .dataTables_length {
  width: 670px;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003348}}
.dataTables_wrapper .tableIncices_filter {
  width: 300px;
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003352}}
.dataTables_wrapper a:hover {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003358}}
.dataTable thead tr {
  /* font-size: 125%; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003360}}
  .dataTable thead tr td {
    font-weight: bold;
    border-bottom: 1px solid #999999;
    margin: 0 0 3px 0;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003366}}
  .dataTable thead tr td:first-child {
    width: 250px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003369}}
  .dataTable thead tr td:nth-child(2) {
    width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003374}}
.dataTable tbody .even {
  background-color: #e1e1e1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003377}}
.dataTable tbody a {
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003381}}
.dataTable tfoot {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003386}}
#editionContainer {
  background-color: #EEEEEE; }

/*
.hits {
	margin: 0;
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003397}}
#tableIncices_wrapper a {
  text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003400}}
#tableIncices_wrapper .sorting {
  text-align: center;
  background: url("../img/sort_both.png") no-repeat scroll right center transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003404}}
#tableIncices_wrapper .sorting_asc {
  text-align: center;
  background: url("../img/sort_asc.png") no-repeat scroll right center transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003408}}
#tableIncices_wrapper .sorting_desc {
  text-align: center;
  background: url("../img/sort_desc.png") no-repeat scroll right center transparent; }

/*
#indices_page, 
#edition_page,
#start_page,
#manuscripts_page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -315px;
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003426}}
h2.head-handwriting {
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003430}}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
  /* the bottom margin is the negative value of the footer's height */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/style\.scss}line{font-family:\00003437}}
.footer, .push {
  height: 142px;
  /* .push must be the same height as .footer */ }

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000313}}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000314}}
.ir br {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000315}}
.hidden {
  display: none !important;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000316}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000317}}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000318}}
.invisible {
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000319}}
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000320}}
.clearfix:after {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000321}}
.clearfix {
  *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000328}}
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000329}}
  a, a:visited {
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000330}}
  a[href]:after {
    content: " (" attr(href) ")"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000331}}
  abbr[title]:after {
    content: " (" attr(title) ")"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000332}}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000333}}
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000334}}
  thead {
    display: table-header-group; }

  /* h5bp.com/t */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000335}}
  tr, img {
    page-break-inside: avoid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000336}}
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000338}}
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nilskwindisch\/htdocs\/archaeo18\/repo\/branches\/archaeo18\/css\/_append\.scss}line{font-family:\0000339}}
  h2, h3 {
    page-break-after: avoid; } }
