/* VARS */

$font-default: 'Droid Sans', sans-serif;
$font-extra: 'Droid Serif', serif;
$width-content: 1000px;
$color-content-bg: rgb(238, 238, 238);
$color-content-font: rgb(102, 102, 102);
$color-content-img-frame-style1: rgb(102, 102, 102);
$color-content-img-frame-style2: rgb(230, 224, 209);
$color-content-img-frame-style3: rgb(204, 204, 204);
$borderradius-footer: 8px;
$path-img: '../img/';

/* VARS (End) */


/* ALL */

body {
	font-family: $font-default;
	font-weight: normal;
	font-size: 12pt;
}

html, body {
	height: 100%;
}

address { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans",sans-serif;
	font-weight: normal;
	margin: 7px 0 20px 6px;
}

h3 {
	font-family: "Droid Sans",sans-serif;
	font-weight: normal;
	margin: 7px 0 20px 0;
}



a, a:hover, a:visited { 
	color: $color-content-font;
	text-decoration: none;
}

#wrapper {
	a {
		color: #000000;
	}
	a:hover {
		text-decoration: underline;
	}
}

body {
	background-color: rgb(238, 238, 238);
	background-repeat: repeat-x;
	background-image: url('../img/header-index-header-bg.png');
}

header {
	height: 206px;
	background-image: url('../img/header-bg2.png');
	background-repeat: no-repeat;
}
nav {
	top: 145px;
	a { padding: 0 0 21px 0; }
	a:hover { background-image: url('../img/header-nav-a-2.png'); }
	.selected { background-image: url('../img/header-nav-a-2.png'); }
}

noscript {
	p {
		text-align: center;
		background-color: red;
		color: white;
		font-weight: bold;
		width: 100%;
		margin: 0;
		padding: 25px 0;
	}
}

.header-small {
	body { background-image: url('../img/header-edition-bg.png'); }
	header {
		background-image: url('../img/header-edition-header-bg.png');
		height: 50px;
	}
	nav {
		top: 4px;
		a {
			padding: 0 0 7px 0;
			font-size: 12pt;
		}
		a:hover { background-image: url('../img/header-nav-a-2-small.png'); }
		.selected { background-image: url('../img/header-nav-a-2-small.png'); }
	}
}

header {
	margin: 0 auto 30px auto;
	width: $width-content;
	background-position: bottom left;
	nav {
		width: 700px;
		position: relative;
		left: 250px;
		font-family: $font-extra;
		font-size: 16pt;
		color: rgb(102, 102, 102);
		li {
			width: 100px;
			display: inline;
			margin: 0 0 0 75px;
		}
		a {
			background-repeat: no-repeat;
			background-position: center bottom;
		}
		a:hover { color: $color-content-font; }
		a:visited { color: $color-content-font; }
		.selected { }
	}
	.header-button {
		background-repeat: no-repeat;
		padding: 0 25px 25px 0;
		margin: 0 10px 0 0;
		width: 25px;
		position: relative;
		top: -32px;
		left: 950px;
	}
}


.content {
	background-color: $color-content-bg;
	color: $color-content-font;
}

.index {
	table {
		thead th { text-align: left; }
		tfoot th { text-align: left; }
	}
	.content {
		.img {
			padding: 10px;
			border-radius: 8px;
			box-shadow: 0px 2px 2px #999999;
		}
		.wrap {
			margin: 0 auto;
			padding: 0 0 10px 60px;
			width: $width-content - 60;
		}
		h2 {
			font-size: 25pt;
			margin: 0;
			padding: 15px 0 10px 0;
		}
		h3 { font-size: 16pt; }
		p {
			padding: 0 0 10px 0;
			margin: 0;
			line-height: 20pt;
		}
		.textimg {
			div:nth-child(2) {
				width: 440px;
				//float: left;
				display: inline;
			}
			div:nth-child(3) {
				width: 500px;
				float: left;
			}
			h3 {
				font-size: 16pt;
				margin: 0 0 10px 0;
				.default { padding: 0 0 10px 0; }
			}
			p { padding: 0 0 10px 0; }
		}
		.handwriting h3 { border-bottom: 1px solid rgb(153, 153, 153); }
	}
}

footer {
	background-color: rgb(102, 102, 102);
	background-image: url('../img/footer-border-top.png');
	background-repeat: repeat-x;
	color: rgb(255, 255, 255);
	height: 315px;
	width: 100%;
	a, a:hover, a:visited {
		color: rgb(255, 255, 255);
	}
	.wrap {
		width: $width-content;
		margin: 0 auto;
		font-size: 10pt;
		div:first-child {
			width: 245px;
			background-image: url('../img/footer-bg1.png');
			float: left;
			display: inline;
		}
		div:nth-child(2) {
			width: 430px;
			float: left;
			display: inline;
			box-shadow: inset 0 0 1px 0 #666666;
			margin: 89px 0 0 0;
			li { padding: 0 0 8px 0; }
			ul:first-child {
				width: 150px;
				float: left;
			}
		}
		div:nth-child(3) {
			width: 285px;
			margin: 89px 0 0 0;
			background-color: rgb(150, 150, 150);
			padding: 0 20px 20px 20px;
			border-radius: 0 $borderradius-footer 0 0;
			float: left;
			display: inline;
			li { padding: 0 0 8px 0; }
		}
	}
	.logos {
		list-style-type: none;
		text-align: left;
		padding: 0;
		li {
			display: inline;
		}
	}
}

.button-alpha {
	background-image: url('../img/content-button-down.png');
	background-repeat: no-repeat;
	padding: 0 25px 25px 30px;
	margin: 0 10px 0 0;
}

.header-button-close { background-image: url('../img/header-button-close.png'); }
.header-button-close:hover { background-image: url('../img/header-button-close-hover.png'); }
.header-button-open { background-image: url('../img/header-button-open.png'); }
.header-button-open:hover { background-image: url('../img/header-button-open-hover.png'); }

.footer-col-bg-gradient {
	background: rgb(176,176,176);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwYjBiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjBiMGIwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk4OTg5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ODk4OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(176,176,176) 0%, rgb(176,176,176) 0%, rgb(152,152,152) 100%, rgb(152,152,152) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(176,176,176)), color-stop(0%,rgb(176,176,176)), color-stop(100%,rgb(152,152,152)), color-stop(100%,rgb(152,152,152)));
	background: -webkit-linear-gradient(top,  rgb(176,176,176) 0%,rgb(176,176,176) 0%,rgb(152,152,152) 100%,rgb(152,152,152) 100%);
	background: -o-linear-gradient(top,  rgb(176,176,176) 0%,rgb(176,176,176) 0%,rgb(152,152,152) 100%,rgb(152,152,152) 100%);
	background: -ms-linear-gradient(top,  rgb(176,176,176) 0%,rgb(176,176,176) 0%,rgb(152,152,152) 100%,rgb(152,152,152) 100%);
	background: linear-gradient(top,  rgb(176,176,176) 0%,rgb(176,176,176) 0%,rgb(152,152,152) 100%,rgb(152,152,152) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#989898',GradientType=0 );
}

.content-img-style1 { background-color: $color-content-img-frame-style1; }
.content-img-style2 { background-color: $color-content-img-frame-style2; }
.content-img-style3 { background-color: $color-content-img-frame-style3; }

.font-normal { }
.font-italic { font-style: italic; }
.font-bold { font-weight: bold; }

.dataTables_wrapper {
	.dataTables_length,
	.dataTables_filter,
	.dataTable,
	.dataTables_info,
	.dataTables_paginate {
		margin: 3px 0;
	}
	.dataTables_info {
		text-align: right;
	}
	.dataTables_paginate {
		text-align: right;
		a {
			margin: 0 0 0 10px;
			cursor: pointer;
		}
	}
	.dataTables_length {
		width: 670px;
		float: left;
	}
	.tableIncices_filter {
		width: 300px;
		float: right;
	}
	a:hover {
		text-decoration: underline;
	}
}

.dataTable {
	thead tr {
		td {
			font-weight: bold;
			border-bottom: 1px solid lighten(#666666, 20%);
			margin: 0 0 3px 0;
			cursor: pointer;
		}
		td:first-child {
			width: 250px !important;
		}
		td:nth-child(2) {
			width: 200px;
		}
	}
	tbody {
		.even {
			background-color: darken(#EEEEEE, 5%);
		}
		a {
			cursor: pointer;
		}
	}
	tfoot {
		display: none;
	}
	a {
		text-decoration: underline;
	}
	.sorting {
		text-align: center;
		background: url("../img/sort_both.png") no-repeat scroll right center transparent;
	}
	.sorting_asc {
		text-align: center;
		background: url("../img/sort_asc.png") no-repeat scroll right center transparent;
	}
	.sorting_desc {
		text-align: center;
		background: url("../img/sort_desc.png") no-repeat scroll right center transparent;
	}
}

#editionContainer {
	background-color: #EEEEEE;
}


h2.head-handwriting {
	visibility:hidden;
}

/* STUFF TO MAKE THE FOOTER STICK TO BOTTOM */

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
}

.footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}

/* STUFF TO MAKE THE FOOTER STICK TO BOTTOM (end) */