[submodule "ropen"]
	path = ropen
	url = https://github.com/subugoe/ROPEN.git
[submodule "build"]
	path = build
	url = https://github.com/subugoe/Salvador.git
[submodule "ropen-backend"]
	path = ropen-backend
	url = https://github.com/subugoe/ropen-backend.git
