$font-default: 'Droid Sans', sans-serif;
$font-extra: 'Droid Serif', serif;
$font-size: 12pt;
$width-content: 1000px;
$color-content-bg: rgb(238, 238, 238);
$color-content-font: rgb(102, 102, 102);
$color-content-img-frame-style1: $color-content-font;
$color-content-img-frame-style2: rgb(230, 224, 209);
$color-content-img-frame-style3: rgb(204, 204, 204);
$borderradius-footer: 8px;
$path-img: '../Images/';
$header-height: 206px;