$font-default: 'Droid Sans', sans-serif;
$font-extra: 'Droid Serif', serif;
$font-custom: ropen;
$font-size: 12pt;
$width-content: 1000px;
$color-content-bg: rgb(238, 238, 238);
$color-content-font: rgb(102, 102, 102);
$color-content-img-frame-style1: $color-content-font;
$color-content-img-frame-style2: rgb(230, 224, 209);
$color-content-img-frame-style3: rgb(204, 204, 204);
$path-img: '../Images/';
$header-height: 206px;

$hoverColor: #900000;
$oddColor: #eeeeee;
$evenColor: white;
$formBorderColor: #dedede;

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(221, 216, 201, 1);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(207, 207, 202, 0.3);
}