@import 'Settings';

@import '_Sections/Indices';
@import '_Sections/Scripts';
@import '_Sections/Footer';
/* ALL */

body {
	font-family: $font-default;
	font-weight: normal;
	font-size: $font-size;
}

html, body {
	height: 100%;
}

address { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
	font-family: $font-default;
	font-weight: normal;
	margin: 7px 0 20px 6px;
}

h3 {
	font-family: $font-default;
	font-weight: normal;
	margin: 7px 0 20px 0;
}

h4 {
	font-family: $font-default;
	font-weight: normal;
	margin: 7px 0 20px 0;
}

a, a:hover, a:visited { 
	color: $color-content-font;
	text-decoration: none;
}

#wrapper {
	a {
		color: #000000;
	}
	a:hover {
		text-decoration: underline;
	}
}

body {
	background-color: $color-content-bg;
	background-repeat: repeat-x;
	background-image: url($path-img + 'header-index-header-bg.png');
}

header {
	height: $header-height;
	background-image: url($path-img + 'header-bg2.png');
	background-repeat: no-repeat;
}
nav {
	top: 145px;
	a { padding: 0 0 21px 0; }
	a:hover { background-image: url($path-img + 'header-nav-a-2.png'); }
	.selected { background-image: url($path-img + 'header-nav-a-2.png'); }
}

noscript {
	p {
		text-align: center;
		background-color: $hoverColor;
		color: white;
		font-weight: bold;
		width: 100%;
		margin: 0;
		padding: 25px 0;
	}
}

.header-small {
	body { background-image: url($path-img + 'header-edition-bg.png'); }
	header {
		height: 50px;
	}
	nav {
		top: 4px;
		a {
			padding: 0 0 7px 0;
			font-size: $font-size;
		}
		a:hover { background-image: url($path-img + 'header-nav-a-2-small.png'); }
		.selected { background-image: url($path-img + 'header-nav-a-2-small.png'); }
	}
}

header {
	margin: 0 auto 30px auto;
	width: $width-content;
	background-position: bottom left;
	nav {
		width: 700px;
		position: relative;
		left: 250px;
		font-family: $font-extra;
		font-size: 16pt;
		color: $color-content-font;
		li {
			width: 100px;
			display: inline;
			margin: 0 0 0 75px;
		}
		a {
			background-repeat: no-repeat;
			background-position: center bottom;
		}
		a:hover { color: $color-content-font; }
		a:visited { color: $color-content-font; }
		.selected { }
	}
	.header-button {
		background-repeat: no-repeat;
		padding: 0 25px 25px 0;
		margin: 0 10px 0 0;
		width: 25px;
		position: relative;
		top: -32px;
		left: 950px;
	}
}

.content {
	background-color: $color-content-bg;
	color: $color-content-font;
}

.index {
	table {
		thead th { text-align: left; }
		tfoot th { text-align: left; }
	}
	.content {
		.image-in-text-right {
			float: right;
			figcaption {
				text-align: center;
			}
		}
		.image-in-text-left {
			float: left;
			margin-right: 10px;
			img {
				margin-left: 0;
			}
			figcaption {
				text-align: center;
			}
		}
		.img {
			padding: 10px;
			border: 1px solid #999999;
			margin-left: 10px;
		}
		.wrap {
			margin: 0 auto;
			padding: 0 0 10px 60px;
			width: $width-content - 60;
		}
		h2 {
			font-size: 25pt;
			margin: 0;
			padding: 15px 0 10px 0;
		}
		h3 { font-size: 16pt; }
		h4 {
			font-size: 110%;
		}
		p {
			padding: 0 0 10px 0;
			margin: 0;
			line-height: 20pt;
		}
		.textimg {
			div:nth-child(2) {
				width: 440px;
				//float: left;
				display: inline;
			}
			div:nth-child(3) {
				width: 500px;
				float: left;
			}
			h3 {
				font-size: 16pt;
				margin: 0 0 10px 0;
				.default { padding: 0 0 10px 0; }
			}
			p { padding: 0 0 10px 0; }
		}
		.handwriting h3 { border-bottom: 1px solid rgb(153, 153, 153); }
	}
}

.button-alpha {
	background-image: url($path-img + 'content-button-down.png');
	background-repeat: no-repeat;
	padding: 0 25px 25px 30px;
	margin: 0 10px 0 0;
}

.header-button-close { background-image: url($path-img + 'header-button-close.png'); }
.header-button-close:hover { background-image: url($path-img + 'header-button-close-hover.png'); }
.header-button-open { background-image: url($path-img + 'header-button-open.png'); }
.header-button-open:hover { background-image: url($path-img + 'header-button-open-hover.png'); }

.footer-col-bg-gradient {
	background: rgb(176,176,176);
}

.content-img-style1 { background-color: $color-content-img-frame-style1; }
.content-img-style2 {
	background-color: $color-content-img-frame-style2;
	margin: 0 10px;
}
.content-img-style3 { background-color: $color-content-img-frame-style3; }

.font-normal { }
.font-italic { font-style: italic; }
.font-bold { font-weight: bold; }

#editionContainer {
	background-color: #EEEEEE;
}

h2.head-handwriting {
	display: none;
}

/* STUFF TO MAKE THE FOOTER STICK TO BOTTOM */

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
}

.footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}

.alertMessage {
	color: $hoverColor;
}