#scriptsSelection {
	select {
		background-color: white;
		border: 1px solid $formBorderColor;
	}
	h2 {
		padding: 15px 0;
	}
	.selectHandschriften {
		padding-left: 0;
		li {
			list-style-type: none;
			a {
				&:hover {
					cursor: pointer;
					text-decoration: none;
					color: $hoverColor;
				}
				&.selected {
					color: $hoverColor;
				}
			}
		}
	}
}
#scriptContainer {
	margin-top: 40px;
	.tei\:teiHeader {
		h3 {
			display: none;
		}
	}
}