#scriptsSelection {
	select {
		background-color: white;
		border: 1px solid $formBorderColor;
	}
	h2 {
		padding: 15px 0;
	}
	.selectHandschriften {
		padding-left: 0;
		li {
			list-style-type: none;
			a {
				&:hover {
					cursor: pointer;
					text-decoration: none;
					color: $hoverColor;
				}
				&.selected {
					color: $hoverColor;
				}
			}
		}
	}
}

.scriptsContainer {
	float: left;
	margin-top: 16px;
	img {
		float: right;
	}
}

#manuscripts_page {
	.scriptSubHeader {
		margin-top: 1em;
	}
	.scriptContainer {
		h3 {
			margin-top: 10px;
		}
	}
	.scriptsWrapper {
		img {
			float: right;
		}
	}
	.video {
		margin-top: 16px;
	}
	span {
		&.icon-youtube-play {
			margin-left: 6px;
			position: relative;
			top: 2px;
		}
	}
}