.documentButton {
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	height: 32px;
	width: 32px;
	margin: 5px;
}

.pagesActivated {
	background-image: url("../images/buttons/pagesActivated.png");
}

.pagesDeactivated {
	background-image: url("../images/buttons/pagesDeactivated.png");
}

.imagesActivated {
	background-image: url("../images/buttons/imagesActivated.png");
}

.imagesDeactivated {
	background-image: url("../images/buttons/imagesDeactivated.png");
}

.outlineActivated {
	background-image: url("../images/buttons/outlineActivated.png");
}

.outlineDeactivated {
	background-image: url("../images/buttons/outlineDeactivated.png");
}

.textActivated {
	background-image: url("../images/buttons/textActivated.png");
}

.textDeactivated {
	background-image: url("../images/buttons/textDeactivated.png");
}

.thumbnailsActivated {
	background-image: url("../images/buttons/thumbnailsActivated.png");
}

.thumbnailsDeactivated {
	background-image: url("../images/buttons/thumbnailsDeactivated.png");
}

.twinActivated {
	background-image: url("../images/buttons/twinActivated.png");
}

.twinDeactivated {
	background-image: url("../images/buttons/twinDeactivated.png");
}

.teiActivated {
	background-image: url("../images/buttons/teiActivated.png");
}

.teiDeactivated {
	background-image: url("../images/buttons/teiDeactivated.png");
}

.linkActivated {
	background-image: url("../images/buttons/linkActivated.png");
}

.linkDeactivated {
	background-image: url("../images/buttons/linkDeactivated.png");
}

.tagsActivated {
	background-image: url("../images/buttons/tagsActivated.png");
}

.tagsDeactivated {
	background-image: url("../images/buttons/tagsDeactivated.png");
}

.mapActivated {
	background-image: url("../images/buttons/mapActivated.png");
}

.mapDeactivated {
	background-image: url("../images/buttons/mapDeactivated.png");
}

.lineNumbersActivated {
	background-image: url("../images/buttons/lineNumbersActivated.png");
}

.lineNumbersDeactivated {
	background-image: url("../images/buttons/lineNumbersDeactivated.png");
}

.removeDocument {
	background-image: url("../images/buttons/remove.png");
}

.dfg {
	background-image: url("../images/buttons/dfg.png");
}

.fullscreen {
	background-image: url("../images/buttons/fullscreen.png");
}

.grid {
	position: absolute;
	top: 10px;
	right: 10px;
}

.gridActivated {
	background-image: url("../images/buttons/gridActivated.png");
}

.gridDeactivated {
	background-image: url("../images/buttons/gridDeactivated.png");
}
