/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd8c9;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(207, 207, 202, 0.3);
}

#indices_page .dataTable {
  margin-top: 1em;
}
#indices_page .dataTable tbody .even, #indices_page .dataTable tbody .odd {
  border-bottom: 1px solid #dedede;
  background-color: white;
}
#indices_page .dataTable tbody a {
  cursor: pointer;
}
#indices_page .dataTable tbody a:hover {
  text-decoration: none;
  color: #900000;
}
#indices_page .dataTable thead tr td {
  font-weight: bold;
  border-bottom: 1px solid #999999;
  margin: 0 0 3px 0;
  cursor: pointer;
}
#indices_page .dataTable thead tr td:first-child {
  width: 250px !important;
}
#indices_page .dataTable thead tr td:nth-child(2) {
  width: 200px;
}
#indices_page .dataTable tfoot {
  display: none;
}
#indices_page .dataTable a:hover {
  text-decoration: underline;
}
#indices_page .dataTable .sorting {
  background: url("../Images/sort_both.png") no-repeat scroll right center transparent;
}
#indices_page .dataTable .sorting_asc {
  background: url("../Images/sort_asc.png") no-repeat scroll right center transparent;
  border-bottom: 1px solid #900000;
}
#indices_page .dataTable .sorting_desc {
  background: url("../Images/sort_desc.png") no-repeat scroll right center transparent;
  border-bottom: 1px solid #900000;
}
#indices_page #tableIndices_wrapper {
  background-color: white;
  padding: 10px;
  margin-bottom: 0;
  position: relative;
}
#indices_page #tableIndices_wrapper select {
  background-color: white;
  border: 1px solid #dedede;
}
#indices_page #tableIndices_wrapper input[type="text"] {
  border: 1px solid #dedede;
}
#indices_page #tableIndices_wrapper input[type="text"]:focus {
  outline: 0;
}
#indices_page #tableIndices_wrapper .dataTables_length,
#indices_page #tableIndices_wrapper .dataTables_filter,
#indices_page #tableIndices_wrapper .dataTable,
#indices_page #tableIndices_wrapper .dataTables_info,
#indices_page #tableIndices_wrapper .dataTables_paginate {
  margin: 15px 0;
}
#indices_page #tableIndices_wrapper .dataTables_info {
  text-align: right;
  font-size: 80%;
}
#indices_page #tableIndices_wrapper .dataTables_paginate {
  text-align: right;
  font-family: ropen;
  position: absolute;
  top: 0;
  right: 3%;
  margin-top: 15px;
}
#indices_page #tableIndices_wrapper .dataTables_paginate a {
  margin: 0 0 0 10px;
  cursor: pointer;
  text-decoration: none;
  position: initial;
  background: none;
}
#indices_page #tableIndices_wrapper .dataTables_paginate a:hover {
  color: #900000;
}
#indices_page #tableIndices_wrapper .dataTables_paginate a.paginate_active {
  border-bottom: 1px solid #900000;
}
#indices_page #tableIndices_wrapper .dataTables_length {
  width: 670px;
  float: left;
  position: absolute;
  bottom: 0;
}
#indices_page #tableIndices_wrapper #tableIndices_filter label:after {
  content: "\e024";
  font-family: ropen, Sans-serif;
  border: 1px solid #dedede;
  font-size: 17px;
  height: 26px;
  border-left: 0;
  padding: 4px 4px 3px 4px;
}
#indices_page #tableIndices_wrapper #tableIndices_filter input {
  padding: 4px;
}
#indices_page #indicesSelection .selectIndices {
  background-color: white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid white;
  padding: 4px 4px;
  font-size: 20px;
}
#indices_page #indicesSelection .selectIndices:focus, #indices_page #indicesSelection .selectIndices:active {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid white;
  outline: none;
}
#indices_page #indicesSelection.wrap {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
#indices_page #indicesSelection p.chooseIndex {
  display: none;
}
#indices_page #sectionContainer h2.facetLabel {
  display: none;
}

#scriptsSelection select {
  background-color: white;
  border: 1px solid #dedede;
}
#scriptsSelection h2 {
  padding: 15px 0;
}
#scriptsSelection .selectHandschriften {
  padding-left: 0;
}
#scriptsSelection .selectHandschriften li {
  list-style-type: none;
}
#scriptsSelection .selectHandschriften li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #900000;
}
#scriptsSelection .selectHandschriften li a.selected {
  color: #900000;
}

.scriptsContainer {
  float: left;
  margin-top: 16px;
}
.scriptsContainer img {
  float: right;
}

#manuscripts_page .scriptContainer h3 {
  margin-top: 10px;
}
#manuscripts_page .scriptsWrapper img {
  float: right;
}
#manuscripts_page .video {
  margin-top: 16px;
}
#manuscripts_page span.icon-youtube-play {
  margin-left: 6px;
  position: relative;
  top: 2px;
}

footer {
  background-color: #666666;
  background-image: url("../Images/footer-border-top.png");
  background-repeat: repeat-x;
  color: white;
  height: 315px;
  width: 100%;
}
footer a, footer a:hover, footer a:visited {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
footer .wrap {
  width: 1000px;
  margin: 0 auto;
  font-size: 10pt;
}
footer .wrap .heyneSnakeFighter {
  width: 245px;
  background-image: url("../Images/footer-bg1.png");
  float: left;
  display: inline;
}
footer .wrap div:first-child {
  height: 215px;
}
footer .wrap div:nth-child(2) {
  height: 126px;
}
footer .wrap div:nth-child(3) {
  height: 106px;
}
footer .wrap .middle {
  width: 430px;
  float: left;
  display: inline;
  margin: 89px 0 0 0;
}
footer .wrap .middle li {
  padding: 0 0 8px 0;
}
footer .wrap .middle ul:first-child {
  width: 150px;
  float: left;
}
footer .wrap .right {
  width: 285px;
  margin: 89px 0 0 0;
  background-color: #969696;
  padding: 0 20px 20px 20px;
  float: left;
  display: inline;
}
footer .wrap .right li {
  padding: 0 0 8px 0;
}
footer .logos {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
footer .logos li {
  display: inline;
}

/* ALL */
body {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
  font-size: 12pt;
}

html, body {
  height: 100%;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
  margin: 7px 0 20px 6px;
}

h3 {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
  margin: 7px 0 20px 0;
}

h4 {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
  margin: 7px 0 20px 0;
}

a, a:hover, a:visited {
  color: #666666;
  text-decoration: none;
}

#wrapper a {
  color: #000000;
}
#wrapper a:hover {
  text-decoration: underline;
}

.page {
  display: none;
}

body {
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: url("../Images/header-index-header-bg.png");
}

header {
  height: 206px;
  background-image: url("../Images/header-bg2.png");
  background-repeat: no-repeat;
}

nav {
  top: 145px;
}
nav a {
  padding: 0 0 21px 0;
}
nav a:hover {
  background-image: url("../Images/header-nav-a-2.png");
}
nav .selected {
  background-image: url("../Images/header-nav-a-2.png");
}

noscript p {
  text-align: center;
  background-color: #900000;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 25px 0;
}

.header-small body {
  background-image: url("../Images/header-edition-bg.png");
}
.header-small header {
  height: 50px;
}
.header-small nav {
  top: 4px;
}
.header-small nav a {
  padding: 0 0 7px 0;
  font-size: 12pt;
}
.header-small nav a:hover {
  background-image: url("../Images/header-nav-a-2-small.png");
}
.header-small nav .selected {
  background-image: url("../Images/header-nav-a-2-small.png");
}

header {
  margin: 0 auto 30px auto;
  width: 1000px;
  background-position: bottom left;
}
header nav {
  width: 700px;
  position: relative;
  left: 250px;
  font-family: "Droid Serif", serif;
  font-size: 16pt;
  color: #666666;
}
header nav li {
  width: 100px;
  display: inline;
  margin: 0 0 0 75px;
}
header nav a {
  background-repeat: no-repeat;
  background-position: center bottom;
}
header nav a:hover {
  color: #666666;
}
header nav a:visited {
  color: #666666;
}
header .header-button {
  background-repeat: no-repeat;
  padding: 0 25px 25px 0;
  margin: 0 10px 0 0;
  width: 25px;
  position: relative;
  top: -32px;
  left: 950px;
}

.content {
  background-color: #eeeeee;
  color: #666666;
}

.two-columns {
  float: left;
  width: 100%;
}
.two-columns .subnav {
  float: left;
  width: 31%;
  margin-right: 1%;
}
.two-columns .subnav ul {
  padding-left: 0;
}
.two-columns .subnav ul li {
  list-style-type: none;
}
.two-columns .subnav ul li a:hover {
  cursor: pointer !important;
  text-decoration: none !important;
  color: #900000 !important;
}
.two-columns .subnav ul li a.selected {
  color: #900000 !important;
}
.two-columns .maincontent {
  width: 67%;
  float: left;
}

.index table thead th {
  text-align: left;
}
.index table tfoot th {
  text-align: left;
}
.index .content .image-in-text-right {
  float: right;
}
.index .content .image-in-text-right figcaption {
  text-align: center;
}
.index .content .image-in-text-left {
  float: left;
  margin-right: 10px;
}
.index .content .image-in-text-left img {
  margin-left: 0;
}
.index .content .image-in-text-left figcaption {
  text-align: center;
}
.index .content .img {
  padding: 10px;
  border: 1px solid #999999;
  margin-left: 10px;
}
.index .content .wrap {
  margin: 0 auto;
  padding: 0 0 10px 60px;
  width: 940px;
}
.index .content h2 {
  font-size: 25pt;
  margin: 0;
  padding: 15px 0 10px 0;
}
.index .content h3 {
  font-size: 16pt;
}
.index .content h4 {
  font-size: 110%;
}
.index .content p {
  padding: 0 0 10px 0;
  margin: 0;
  line-height: 20pt;
}
.index .content .textimg div:nth-child(2) {
  width: 440px;
  display: inline;
}
.index .content .textimg div:nth-child(3) {
  width: 500px;
  float: left;
}
.index .content .textimg h3 {
  font-size: 16pt;
  margin: 0 0 10px 0;
}
.index .content .textimg h3 .default {
  padding: 0 0 10px 0;
}
.index .content .textimg p {
  padding: 0 0 10px 0;
}
.index .content .handwriting h3 {
  border-bottom: 1px solid #999999;
}

.button-alpha {
  background-image: url("../Images/content-button-down.png");
  background-repeat: no-repeat;
  padding: 0 25px 25px 30px;
  margin: 0 10px 0 0;
}

.header-button-close {
  background-image: url("../Images/header-button-close.png");
}

.header-button-close:hover {
  background-image: url("../Images/header-button-close-hover.png");
}

.header-button-open {
  background-image: url("../Images/header-button-open.png");
}

.header-button-open:hover {
  background-image: url("../Images/header-button-open-hover.png");
}

.footer-col-bg-gradient {
  background: #b0b0b0;
}

.content-img-style1 {
  background-color: #666666;
}

.content-img-style2 {
  background-color: #e6e0d1;
  margin: 0 10px;
}

.content-img-style3 {
  background-color: #cccccc;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

#editionContainer {
  background-color: #EEEEEE;
}

h2.head-handwriting {
  display: none;
}

/* STUFF TO MAKE THE FOOTER STICK TO BOTTOM */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
}

.footer, .push {
  height: 142px;
  /* .push must be the same height as .footer */
}

.alertMessage {
  color: #900000;
}

.easterEgg {
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  animation: blink 1s steps(5, start) infinite;
  color: black;
}
.easterEgg:hover {
  animation-play-state: paused;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes marquee {
  0% {
    text-indent: 27.5em;
  }

  100% {
    text-indent: -105em;
  }
}
